<div class="col-md-6 offset-md-3" style="min-height: 72vh ; height: 100%; ">
    <span class="anchor" id="formChangePassword"></span>

    <!-- form card change password -->
    <div class="card card-outline-secondary" style="margin-top: 20%;">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off" [formGroup]="changePwdForm" >
                <div class="form-group">
                    <label for="inputPasswordOld">Current Password</label>
                    <input type="password" class="form-control" id="inputPasswordOld" required="" formControlName="currentPwd">
                </div>
                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNew" required="" formControlName="newPwd">
                    <span class="form-text small text-muted">
                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                        </span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNewVerify">Verify</label>
                    <input type="password" class="form-control" id="inputPasswordNewVerify" required="" formControlName="confirmPwd">
                    <span class="form-text small text-muted">
                            To confirm, type the new password again.
                        </span>
                </div>
                <input type="hidden" formControlName="token">
                <div class="form-group">
                    <button (click)="onSubmit()" class="btn btn-lg float-right">Save</button>
                </div>
            </form>
        </div>
    </div>
   
