<div class="pageBg" style="padding-bottom: 5%;">
  <div class="row" style="padding-top: 1%; margin-left: 2%; margin-right: 2%;">
    <div class="col-6">
      <div class="card">

        <div class="input-group" style="padding-top:0.75%; padding-bottom:0.75%; padding-left:1%; padding-right:1%; height:300%;">
          <input type="search" class="form-control rounded"
            placeholder="Track Your Shipments" aria-label="Search"
            aria-describedby="search-addon" style="width:450px; height:23%"/>
          <button type="button"
            style="background-color:#cb336b; width:24%; height: 32px;cursor: pointer;border: none;
            color: white;
            text-align: center;
            background-color: #cb336b;
            display: inline-block;
            font-size: 17px;">Track - P</button>
        </div>

          <!-- <mat-form-field  style=" width: 60%; " appearance="outline">
            <mat-label>Track Your Shipments</mat-label>
            <input matInput name="firstname"
                class="input-control"
                 id="firstname"
                 type="text"
                 formControlName="firstname"
                 required >
          </mat-form-field>
          <a mat-button class="btn btn-primary">Track</a> -->
      </div>
    </div>
    <div class="col-3" style=" margin-right: 0px; background-color: white; width: 8%; ">
      <div class="input-group" >
        <mat-icon style="margin-top: 3%"> pin_drop</mat-icon>
          <input type="text"  id="pass" name="Find location" placeholder="Find Location" style="width:70%; margin-top: 3%; margin-left: 5%; " />
      </div>
    </div>
    <div class="col-3" style="background-color: white; width: 90%;">
      <div class="number" style="padding-left: 12%; margin-top: 3%; font-size:160%">
        <label><mat-icon > support_agent</mat-icon><b>Helpline:</b> 1234567890</label>
        </div>
    </div>
  </div>

  <div class="row" style="margin: 2%;">
    <div class="col-3 wrapper">
      <div class="card" >
        <img class="card-img-top" src="assets/cust_land_1.jpg"  alt="Card image cap">
        <div class="card-body" style="background-color:#cb336b">
          <button mat-button class=" button-submit" style="width: 100%; ">Book a Shipment</button>
        </div>
      </div>
      <!-- <div class="shipment"><img src="assets/cust_land_1.jpg" alt=""><button>Book a Shipment</button></div> -->
    </div>
    <div class="col-3 wrapper">
      <div class="card" >
        <img class="card-img-top" src="assets/cust_land_2.jpg" alt="Card image cap">
        <div class="card-body" style="background-color:#cb336b">
          <button mat-button class=" button-submit" style="width: 100%; ">Business Integration</button>
        </div>
      </div>
      <!-- <div class="business"><img src="assets/cust_land_2.jpg" alt=""><button>Business Integration</button></div> -->
    </div>
    <div class="col-3 wrapper">
      <div class="card" >
        <img class="card-img-top" src="assets/cust_land_3.jpg" alt="Card image cap">
        <div class="card-body" style="background-color:#cb336b">
          <button mat-button class=" button-submit" style="width: 100%; ">Address Book</button>
        </div>
      </div>
      <!-- <div class="Address book"><img src="assets/cust_land_3.jpg" alt=""><button>Address Book</button></div> -->
    </div>
    <div class="col-3 wrapper">
      <div class="card" >
        <img class="card-img-top" src="assets/cust_land_4.jpg" alt="Card image cap">
        <div class="card-body" style="background-color:#cb336b">
          <button mat-button class=" button-submit" style="width: 100%; ">Orders</button>
        </div>
      </div>
      <!-- <div class="Orders"><img src="assets/cust_land_4.jpg" alt=""><button>Orders</button></div> -->
    </div>
  </div>

  <div class="row" style="margin: 2%;">
    <div class="col-6 wrapper" >
      <div class="card" >
        <img class="card-img-top" src="assets/cust_land_5.jpg" style="height: 250px" alt="Card image cap">
        <div class="card-body" style="background-color:#cb336b">
          <button mat-button class=" button-submit" style="width: 100%; ">Service Guides</button>
        </div>
      </div>

    </div>
    <div class="col-6 wrapper">
      <div class="card" >
        <img class="card-img-top" src="assets/cust_land_6.jpg" style="height: 250px" alt="Card image cap">
        <div class="card-body" style="background-color:#cb336b">
          <button mat-button class=" button-submit" style="width: 100%; ">Support</button>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- <div class="container1-fluid"
  style="border: 2px solid #C9CAC9; width : 660px ; height: 9%;  top:14%; left: 1%; background-color:white; padding:1px; ">

    <div class="input-group" style="padding-top:1.5%; padding-left:2%; height:300%;">
      <input type="search" class="form-control rounded"
        placeholder="Track Your Shipments" aria-label="Search"
        aria-describedby="search-addon" style="width:450px; height:23%"/>
      <button type="button"
        style="background-color:#cb336b; width:24%; height: 32px;cursor: pointer;border: none;
        color: white;
        text-align: center;
        background-color: #cb336b;
        display: inline-block;
        font-size: 17px;">Track</button>
    </div>

  </div>

  <div class="container2-fluid" style="border: 2px solid #C9CAC9; width : 325px ; height: 9%; position:absolute; top:14%; left: 50.5%; background-color:white; padding:1px; ">
     <div class="input-group" style="padding-left:2%; padding-top:0.9%;display:inline-block;">

     <input type="text" id="pass" name="Find location" placeholder="Find Location" style=" width:250px; height:23%;" />
     </div>
  </div>

  <div class="container3-fluid" style="border: 2px solid #C9CAC9; width : 320px ; height: 9%; position:absolute; top:14%; left: 75.5%; background-color:white; padding:1px; ">
     <div class="number" style="padding-left: 12%; padding-top:10px; font-size:160%">
     <label><b>Helpline:</b> 1234567890</label>
     </div>
  </div>


  <div class="wrapper">
    <div class="shipment"><img src="../../../../assets/bgCropped.jpg" alt=""><button>Book a Shipment</button></div>
    <div class="business"><img src="../../../../assets/bgCropped.jpg" alt=""><button>Business Integration</button></div>
    <div class="Address book"><img src="../../../../assets/bgCropped.jpg" alt=""><button>Address Book</button></div>
    <div class="Orders"><img src="../../../../assets/bgCropped.jpg" alt=""><button>Orders</button></div>
    <div class="Service Guides" ><img src="../../../../assets/bgCropped.jpg" alt=""><button style="width: 50%";>Service Guides</button></div>
    <div class="Support" ><img src="../../../../assets/bgCropped.jpg" alt=""><button style="width: 50%;">Support</button></div>
  </div> -->
